
<div>
    <h2><span data-translate="rpgApp.boardGame.detail.title">Board Game</span> {{vm.boardGame.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rpgApp.boardGame.name">Name</span></dt>
        <dd>
            <span>{{vm.boardGame.name}}</span>
        </dd>
        <dt><span data-translate="rpgApp.boardGame.summary">Summary</span></dt>
        <dd>
            <span>{{vm.boardGame.summary}}</span>
        </dd>
        <dt><span data-translate="rpgApp.boardGame.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.boardGame.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="rpgApp.boardGame.characterz">Characterz</span></dt>
        <dd>
            <span ng-repeat="characterz in vm.boardGame.characterzs">
                <a ui-sref="characterz-detail({id: characterz.id})">{{characterz.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="board-game-detail.edit({id:vm.boardGame.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
