
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCharacterzLabel" data-translate="rpgApp.characterz.home.createOrEditLabel">Create or edit a Characterz</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.characterz.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.characterz.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.characterz.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.player" for="field_player">Player</label>
            <input type="text" class="form-control" name="player" id="field_player"
                    ng-model="vm.characterz.player"
                    required />
            <div ng-show="editForm.player.$invalid">
                <p class="help-block"
                    ng-show="editForm.player.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.characterz.level"
                    required />
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.clazz" for="field_clazz">Clazz</label>
            <input type="text" class="form-control" name="clazz" id="field_clazz"
                    ng-model="vm.characterz.clazz"
                    required />
            <div ng-show="editForm.clazz.$invalid">
                <p class="help-block"
                    ng-show="editForm.clazz.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.race" for="field_race">Race</label>
            <input type="text" class="form-control" name="race" id="field_race"
                    ng-model="vm.characterz.race"
                    required />
            <div ng-show="editForm.race.$invalid">
                <p class="help-block"
                    ng-show="editForm.race.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.characterz.age"
                    required />
            <div ng-show="editForm.age.$invalid">
                <p class="help-block"
                    ng-show="editForm.age.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.age.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.lifePoints" for="field_lifePoints">Life Points</label>
            <input type="number" class="form-control" name="lifePoints" id="field_lifePoints"
                    ng-model="vm.characterz.lifePoints"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.magicPoints" for="field_magicPoints">Magic Points</label>
            <input type="number" class="form-control" name="magicPoints" id="field_magicPoints"
                    ng-model="vm.characterz.magicPoints"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.itens" for="field_itens">Itens</label>
            <input type="text" class="form-control" name="itens" id="field_itens"
                    ng-model="vm.characterz.itens"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rpgApp.characterz.skills" for="field_skills">Skills</label>
            <input type="text" class="form-control" name="skills" id="field_skills"
                    ng-model="vm.characterz.skills"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
