
<div>
    <h2><span data-translate="rpgApp.characterz.detail.title">Characterz</span> {{vm.characterz.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rpgApp.characterz.name">Name</span></dt>
        <dd>
            <span>{{vm.characterz.name}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.player">Player</span></dt>
        <dd>
            <span>{{vm.characterz.player}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.level">Level</span></dt>
        <dd>
            <span>{{vm.characterz.level}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.clazz">Clazz</span></dt>
        <dd>
            <span>{{vm.characterz.clazz}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.race">Race</span></dt>
        <dd>
            <span>{{vm.characterz.race}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.age">Age</span></dt>
        <dd>
            <span>{{vm.characterz.age}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.lifePoints">Life Points</span></dt>
        <dd>
            <span>{{vm.characterz.lifePoints}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.magicPoints">Magic Points</span></dt>
        <dd>
            <span>{{vm.characterz.magicPoints}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.itens">Itens</span></dt>
        <dd>
            <span>{{vm.characterz.itens}}</span>
        </dd>
        <dt><span data-translate="rpgApp.characterz.skills">Skills</span></dt>
        <dd>
            <span>{{vm.characterz.skills}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="characterz-detail.edit({id:vm.characterz.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
