<div>
    <h2 data-translate="rpgApp.characterz.home.title">Characterzs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="characterz.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="rpgApp.characterz.home.createLabel">
                        Create new Characterz
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'rpgApp.characterz.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="rpgApp.characterz.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="player"><span data-translate="rpgApp.characterz.player">Player</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="level"><span data-translate="rpgApp.characterz.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clazz"><span data-translate="rpgApp.characterz.clazz">Clazz</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="race"><span data-translate="rpgApp.characterz.race">Race</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="age"><span data-translate="rpgApp.characterz.age">Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lifePoints"><span data-translate="rpgApp.characterz.lifePoints">Life Points</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="magicPoints"><span data-translate="rpgApp.characterz.magicPoints">Magic Points</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itens"><span data-translate="rpgApp.characterz.itens">Itens</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="skills"><span data-translate="rpgApp.characterz.skills">Skills</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="characterz in vm.characterzs track by characterz.id">
                    <td><a ui-sref="characterz-detail({id:characterz.id})">{{characterz.id}}</a></td>
                    <td>{{characterz.name}}</td>
                    <td>{{characterz.player}}</td>
                    <td>{{characterz.level}}</td>
                    <td>{{characterz.clazz}}</td>
                    <td>{{characterz.race}}</td>
                    <td>{{characterz.age}}</td>
                    <td>{{characterz.lifePoints}}</td>
                    <td>{{characterz.magicPoints}}</td>
                    <td>{{characterz.itens}}</td>
                    <td>{{characterz.skills}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="characterz-detail({id:characterz.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="characterz.edit({id:characterz.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="characterz.delete({id:characterz.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
